body {
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
}
@keyframes upToDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
    
}
.animated-uptoDown {
  
    animation: upToDown 4s infinite ease-in-out;
}
.animated-uptoDown-reverse {
  
    animation: upToDown 4s infinite ease-in-out reverse;
}


@keyframes circularMotion {
    0% { transform: translate(0, 0) ; }
    25% { transform: translate(8px, 8px); }
    50% { transform: translate(0, 16px); }
    75% { transform: translate(-8px, 8px) ; }
    100% { transform: translate(0, 0) ; }
}

.animated-circle {
    display: inline-block;
    animation: circularMotion 5s infinite linear;
}

.animated-circle-reverse {
    display: inline-block;
    animation: circularMotion 5s infinite linear reverse;
}
@keyframes halfRotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); } /* Rotate left */
    100% { transform: rotate(0deg); } /* Return back */
}

.animated-half-rotate {
    display: inline-block;
    animation: halfRotate 3s infinite ease-in-out;
}
 @keyframes appear {
    
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
 }
 .appeared{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
 }